#login-modal
  #login-content
    %h1 Welcome to Facebook Flip
    %p 
      Find the matching set of pictures to clear the board.  #{link_to "Login with Facebook", user_omniauth_authorize_path(:facebook)} to use your own images, or 
      %a#modal-close{href: "http://localhost:3000" }
        play with my default images.
